<!-- static 태그를 사용하겠다는 선언 -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--전달 받아온 title 변수를 사용합니다-->
  <title></title>
  <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
</head>
<body>
  <h1>{{ title }}</h1>

  {% for post in posts %}
  <article>
    <h4 class="post-title">{{ post.title }}</h4>
    <p class="">{{post.description}}</p>
    <p>{{post.created}}</p>
  </article>
  {% endfor %}
</body>
</html>
